body {
  font-family: "Playfair Display"
  margin: 0px;
  color: #141414;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.subtitulo {
  font-size: 7rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 6ch;
}